{:name "picasso"
 :clj-require [] ; consider picasso.repl fns
 :theme {:available  {:datatypes {true ["picasso/datatypes.css"]}} ; picasso clj/cljs datatypes 
        :current {:datatypes true}}
 :cljs-namespace [picasso.repl] 
 :cljs-bindings {'R! picasso.repl/R!}
 :cljs-ns-bindings {}
 :pinkie {}
 :lazy false
 :snippets []}

